<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Pesquisa de Funcionário</ui:define>

	<ui:define name="corpo">
		<h1>Pesquisa de Funcionário</h1>

		<h:form id="frmPesquisa">
			<p:messages id="messages" autoUpdate="true" closable="true" />

			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Novo" id="botaoNovo"
						action="/funcionario/CadastroFuncionario.xhtml" />
				</p:toolbarGroup>
			</p:toolbar>

			<p:dataTable id="funcionariosTable"
				value="#{pesquisaFuncionarioBean.funcionarios}" var="funcionario"
				style="margin-top: 20px"
				emptyMessage="Nenhum funcionario encontrado." rows="20"
				paginator="true" paginatorAlwaysVisible="false"
				paginatorPosition="bottom">
				<p:column headerText="Código"
					style="text-align: center; width: 100px">
					<h:outputText value="#{funcionario.codigo}" />
				</p:column>
				<p:column headerText="Nome">
					<h:outputText value="#{funcionario.nome}" />
				</p:column>
				<p:column headerText="Data de nascimento">
					<h:outputText value="#{funcionario.dataNascimento}" />
				</p:column>
				<p:column headerText="CPF">
					<h:outputText value="#{funcionario.cpf}" />
				</p:column>
				<p:column headerText="Sexo">
					<h:outputText value="#{funcionario.sexo.descricao}" />
				</p:column>
				<p:column headerText="Matrícula">
					<h:outputText value="#{funcionario.matricula}" />
				</p:column>
				<p:column style="width: 100px; text-align: center">
					<p:button outcome="CadastroFuncionario" icon="ui-icon-pencil"
						title="Editar">
						<f:param name="funcionario" value="#{funcionario.codigo}" />
					</p:button>
					<p:commandButton icon="ui-icon-trash" title="Excluir"
						oncomplete="confirmacaoExclusao.show()" process="@this"
						update=":frmPesquisa:confirmacaoExclusaoDialog">
						<f:setPropertyActionListener
							target="#{pesquisaFuncionarioBean.funcionarioSelecionado}"
							value="#{funcionario}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<p:confirmDialog id="confirmacaoExclusaoDialog"
				widgetVar="confirmacaoExclusao"
				message="Tem certeza que deseja excluir o funcionario #{pesquisaFuncionarioBean.funcionarioSelecionado.nome}?"
				header="Exclusão de funcionario" severity="alert">
				<p:button value="Não"
					onclick="confirmacaoExclusao.hide(); return false;" />
				<p:commandButton value="Sim" update=":frmPesquisa:funcionariosTable"
					onclick="confirmacaoExclusao.hide()"
					action="#{pesquisaFuncionarioBean.excluir}" />
			</p:confirmDialog>
		</h:form>
	</ui:define>
</ui:composition>